<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-in-app-update" version="0.0.3">
    <name>UpdatePlugin</name>

    <description>Android Cordova plugin for in-app updates using Play Core</description>
    <license>MIT</license>
    <keywords>cordova,android,playstore,update</keywords>
    <repo>https://github.com/MrSpark2591/cordova-app-update-plugin.git</repo>
    <issue>https://github.com/MrSpark2591/cordova-app-update-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
    </engines>

    <js-module src="www/updatePlugin.js" name="UpdatePlugin">
        <clobbers target="window.plugins.updatePlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="android-package" value="com.mrspark.cordova.plugin.UpdatePlugin"/>
            </feature>
        </config-file>

        <framework src="com.google.android.material:material:1.9.0" />
        <framework src="com.google.android.play:app-update:2.1.0" />

        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest 
                xmlns:android="http://schemas.android.com/apk/res/android"
                xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>

        <framework src="src/android/build-extra.gradle" custom="true" type="gradleReference" />
        
        <source-file src="src/android/UpdatePlugin.java" target-dir="src/com/mrspark/cordova/plugin" />
    </platform>

    <!-- iOS Placeholder -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="ios-package" value="CDVUpdatePlugin"/>
            </feature>
        </config-file>
    </platform>
</plugin>
